secrets/
minecraft/data/
authelia/config/
mlflow/db/
n8n/common_data/
authentik/.env
authentik/media/
outline/.env
gitea/gitea/
gitea/postgres/
lidarr/lidarr_config/
lidarr/lidarr_data/
lidarr/navidrome_data/
lidarr/prowlarr_config/
lidarr/prowlarr_data/
lidarr/qbittorrent_config/
lidarr/slskd_data/
lidarr/slskd_downloads/
lidarr/soularr_data/
lidarr/picard_config/
homepage/config
open-webui/volumes
